* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}

.file-upload-label {
  border: 1px solid #888;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

.content {
  height: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tray {
  text-align: center;
}

.loader {
  height: 10px;
  background-color: #9B54A5;
  border-right: 0px solid #EFEFEF;
  transition: width 0.1s linear;
  transition: border-right-width 0.1s linear;
}
